.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 640px;
  margin: 0 auto;
  background-image: url(../../assets/images/banner2.jpg);
}

.header-a {
  width: 1150px;
  height: 422px;
  margin: 0 auto;
  padding-top: 30px;
}

.header-b {
  width: 1150px;
  height: 61px;
  line-height: 61px;
}

.header-bleft {
  width: 206px;
  height: 61px;
  float: left;
}

.logo {
  width: 137px;
  height: 61px;
  float: left;
  background-image: url(../../assets/images/1.png);
  background-repeat: no-repeat;
  background-position: top -22px left 0px;
  background-size: 1056px 819px;
}

.dizhi {
  float: right;
  width: 60px;
  height: 30px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  line-height: 26px;
  text-align: center;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 21px;
}

.header-bright {
  position: relative;
  float: right;
}

.header-bright ul li {
  float: left;
  padding-right: 20px;
  font-weight: bold;
}

.header-bright ul li > a {
  color: #fff;
}

.header-bright ul li > .motai {
  width: 100px;
  height: 70px;
  line-height: 26px;
  background-color: #fff;
  position: absolute;
  left: 384px;
  top: 44px;
  display: none;
}

.header-bright ul li > .motai > li a {
  color: #000;
  font-size: 12px;
  font-weight: bold;
}

.header-bright ul li > .motai > li {
  clear: left;
  margin-left: 16px;
}

.header-bright ul li > .motai > .box {
  position: absolute;
  left: 55px;
  top: -8px;
  width: 0;
  height: 0;
  border-bottom: 8px solid #fff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.header-bd {
  position: absolute;
  left: 543px;
  top: -30px;
  font-size: 12px;
}

.header-bd > span a {
  color: #fff;
}

.header-bd > .iconfont {
  color: #fff;
}

.header-c {
  width: 1150px;
  height: 241px;
  margin-top: 148px;
}

.header-c > h1 {
  width: 460px;
  font-weight: bold;
  margin: 0 auto;
  color: #fff;
  font-size: 56px;
}

.header-c > ul {
  width: 256px;
  margin: 0 auto;
  margin-top: 18px;
}

.header-c > ul > li {
  font-size: 18px;
  color: #fff;
  display: none;
}

.header-c > .waikuang {
  position: relative;
  width: 776px;
  height: 90px;
  margin: 0 auto;
  margin-top: 44px;
}

.header-c > .waikuang > .sanjiao {
  position: absolute;
  left: 20px;
  top: 22px;
  width: 0;
  height: 0;
  border-bottom: 8px solid #fff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.header-c > .waikuang > .nav ul li {
  float: left;
  margin-right: 10px;
}

.header-c > .waikuang > .nav ul li > a {
  font-size: 12px;
  color: #a0b4b5;
  font-weight: bold;
}

.header-c > .waikuang > .nav ul li > a:hover {
  color: #ddd;
}

.header-c > .waikuang > .nav ul .five a {
  color: #fff;
}

.header-c > .waikuang > .input-one input {
  float: left;
  width: 648px;
  height: 56px;
  margin-top: 14px;
  border: none;
  outline: none;
  box-shadow: 0 1px 4px 1px #000;
  color: #a0b4b5;
  font-size: 12px;
  font-weight: bold;
}

.header-c .xiala {
  position: absolute;
  left: 0;
  top: 90px;
  width: 648px;
  height: 370px;
  background-color: #fff;
  display: none;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}

.header-c .xiala > ul li {
  line-height: 38px;
  padding-left: 10px;
}

.header-c .xiala > ul li:hover {
  background-color: #ddd;
}

.header-c .xiala > ul li a {
  color: #333;
  font-size: 14px;
}

.header-c .xiala > ul .one-a {
  color: #849aae;
  font-size: 14px;
  background-color: #ddd;
}

.one:hover .motai {
  transform: all 5s;
  display: block;
}

.two .motaiy li a {
  color: #000;
}

.motaiy {
  width: 100px;
  height: 70px;
  line-height: 26px;
  background-color: #fff;
  position: absolute;
  left: 494px;
  top: 44px;
  display: none;
}

.motaiy > li a {
  color: #000;
  font-size: 12px;
  font-weight: bold;
}

.motaiy > li {
  color: #000;
  clear: left;
  margin-left: 16px;
}

.motaiy > .boxy {
  position: absolute;
  left: 55px;
  top: -8px;
  width: 0;
  height: 0;
  border-bottom: 8px solid #fff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.two:hover .motaiy {
  transform: all 5s;
  display: block;
}

.button {
  float: left;
  width: 126px;
  height: 58px;
  background-color: #00ae66;
  font-size: 20px;
  color: #fff;
  line-height: 56px;
  text-align: center;
  outline: none;
  border: none;
  margin-top: 14px;
  box-shadow: 0 1px 4px 1px #000;
}

.input-one {
  width: 790px;
  height: 56px;
}

.a-a {
  width: 506px;
  height: 18px;
  margin-top: 148px;
  margin-left: 80px;
}

.a-a > p {
  float: left;
  padding-left: 20px;
}

.a-a > p a {
  color: #333;
  font-size: 12px;
}

.a-a > p .iconfont {
  font-size: 14px;
  color: #333;
}

.ssn {
  width: 1150px;
  height: 246px;
  margin: 0 auto;
}

.ssn > .ssn-a {
  width: 1046px;
  height: 24px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.ssn > .ssn-a > .ssn-b {
  margin-top: 46px;
  width: 180px;
  height: 135px;
  text-align: center;
}

.ssn > .ssn-a > .ssn-b > p img {
  width: 66px;
  height: 58px;
}

.ssn > .ssn-a > .ssn-b > p {
  padding-bottom: 18px;
}

.ssn > .ssn-a > .ssn-b > h2 a {
  font-size: 16px;
  color: #000;
}

.ssn > .ssn-a > .ssn-b > h2 {
  padding-bottom: 6px;
}

.ssn > .ssn-a > .ssn-b > span a {
  font-size: 12px;
  color: #b0b3b4;
}

.ssn-b:hover img {
  transition: all .5s ease-in .1s;
  transform: translateY(-16px);
}

.ai {
  width: 100%;
  height: 524px;
  margin: auto;
  background-image: url(../../assets/images/bg-app.jpg);
  background-size: 100% 526px;
}

.ai > .tak {
  width: 1150px;
  height: 524px;
  margin: 0 auto;
  line-height: 524px;
  font-size: 0;
}

.ai > .tak > .png-a {
  width: 478px;
  height: 348px;
  display: inline-block;
  vertical-align: middle;
}

.ai > .tak > .png-a > .png-b {
  width: 260px;
  height: 116px;
  background-image: url(../../assets/images/1.png);
  background-position: top -824px left -400px;
  background-size: 700px;
}

.ai > .tak > .png-a > .png-c p {
  width: 470px;
  height: 66px;
  line-height: 20px;
  font-size: 12px;
  color: #333;
  padding-top: 28px;
}

.ai > .tak > .png-a > .png-d {
  width: 479px;
  height: 104px;
  margin-top: 42px;
}

.ai > .tak > .png-a > .png-d > .png-e {
  float: left;
  width: 134px;
  height: 104px;
  background-image: url(../../assets/images/1.png);
  background-position: top -606px left -154px;
  background-size: 700px;
}

.ai > .tak > .png-a > .png-d > .png-f {
  float: left;
  line-height: 20px;
  width: 100px;
  height: 100px;
  padding-left: 6px;
}

.ai > .tak > .png-a > .png-d > .png-f > img {
  width: 100px;
  height: 100px;
}

.tg {
  width: 100%;
  height: 362px;
  padding-top: 30px;
}

.tg > .tg-a {
  width: 1150px;
  height: 369px;
  margin: 0 auto;
}

.tg > .tg-a > .tg-b {
  width: 100%;
  height: 59px;
}

.tg > .tg-a > .tg-b > .tg-c {
  width: 158px;
  height: 30px;
  background-image: url(../../assets/images/1.png);
  background-position: top -50px left -19px;
  background-size: 700px;
}

.tg > .tg-a > .tg-b > p {
  float: left;
  font-size: 12px;
  color: #333;
  padding-top: 16px;
}

.tg > .tg-a > .tg-b > h3 {
  float: right;
  padding-top: 12px;
}

.tg > .tg-a > .tg-b > h3 a {
  font-size: 12px;
  color: #000;
}

.tg > .tg-a > .tg-e {
  display: flex;
  justify-content: space-between;
  width: 1150px;
  height: 262px;
  margin: 0 auto;
  padding-top: 44px;
}

.tg > .tg-a > .tg-e > .tg-f {
  position: relative;
  width: 352px;
  height: 262px;
  overflow: hidden;
}

.tg > .tg-a > .tg-e > .tg-f:hover img {
  transition: all .5s .1s;
  transform: scaleZ(1.5);
}

.tg > .tg-a > .tg-e > .tg-f > img {
  width: 370px;
  height: 280px;
}

.tg > .tg-a > .tg-e > .tg-f > .tg-g {
  position: absolute;
  left: 0;
  top: 100px;
  width: 352px;
  height: 100px;
  line-height: 24px;
  text-align: center;
}

.tg > .tg-a > .tg-e > .tg-f > .tg-g > h1 a {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
}

.tg > .tg-a > .tg-e > .tg-f > .tg-g > h2 a {
  font-size: 18px;
  color: #fff2ab;
  font-weight: bold;
}

.tg > .tg-a > .tg-e > .tg-f > .tg-g > h2 {
  padding-top: 6px;
}

.sb-a {
  width: 100%;
  height: 492px;
  background-color: #f2f2f2;
  margin-top: 60px;
}

.sb-a > .sb-b {
  width: 1150px;
  height: 362px;
  margin: 0 auto;
}

.sb-a > .sb-b > .sb-d {
  width: 100%;
  height: 58px;
  padding-top: 50px;
}

.sb-a > .sb-b > .sb-d > .sb-da {
  width: 246px;
  height: 30px;
  background-image: url(../../assets/images/1.png);
  background-position: top -88px left -19px;
  background-size: 700px;
}

.sb-a > .sb-b > .sb-d > p {
  float: left;
}

.sb-a > .sb-b > .sb-d > p > a {
  padding-top: 19px;
  font-size: 12px;
  color: #8888a2;
}

.sb-a > .sb-b > .sb-d > span {
  float: right;
}

.sb-a > .sb-b > .sb-d > span > a {
  font-size: 12px;
  color: #000;
  padding-top: 19px;
}

.sb-a > .sb-b > .sb-e {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 266px;
  padding-top: 42px;
}

.sb-a > .sb-b > .sb-e > .sb-ea {
  width: 254px;
  height: 266px;
  overflow: hidden;
}

.sb-a > .sb-b > .sb-e > .sb-ea > .sb-eb {
  width: 254px;
  height: 194px;
  position: relative;
}

.sb-a > .sb-b > .sb-e > .sb-ea > .sb-eb > h3 {
  position: absolute;
  left: 0;
  top: 150px;
  width: 68px;
  height: 30px;
  background-color: #394043;
  line-height: 30px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

.sb-a > .sb-b > .sb-e > .sb-ea > .sb-ec {
  width: 254px;
  height: 72px;
  line-height: 20px;
  box-shadow: 0 1px 4px 1px #000;
}

.sb-a > .sb-b > .sb-e > .sb-ea > .sb-ec > h3 {
  padding-top: 24px;
  font-size: 14px;
  color: #000;
}

.sb-a > .sb-b > .sb-e > .sb-ea > .sb-ec > span {
  font-size: 12px;
  padding-top: 30px;
}

.sb-a > .sb-b > .sb-e > .sb-ea > .sb-ec > span > a {
  color: #999999;
}

.sb-f {
  width: 100%;
  height: 38px;
  display: flex;
  justify-content: space-between;
}

.sb-f > .sb-fa {
  width: 254px;
  height: 38px;
  line-height: 38px;
}

.sb-f > .sb-fa > p {
  color: #999999;
  font-size: 12px;
}

.ayf-a {
  width: 100%;
  height: 242px;
  background-image: url(../../assets/images/truth-bgV2.jpg);
}

.ayf-a > .ayf-b {
  width: 1150px;
  height: 106px;
  margin: 0 auto;
  padding-top: 64px;
}

.ayf-a > .ayf-b > .ayf-d {
  float: right;
  width: 559px;
  height: 106px;
}

.ayf-a > .ayf-b > .ayf-d > p {
  color: #fff;
  font-size: 14px;
  margin-top: 5px;
}

.ayf-a > .ayf-b > .ayf-d > input {
  width: 556px;
  height: 44px;
  border: none;
  outline: none;
  margin-top: 22px;
}

.ayf-c {
  float: left;
  width: 506px;
  height: 112px;
  background-image: url(../../assets/images/1.png);
  background-position: top -230px left -19px;
  background-size: 700px;
}

.footer {
  width: 100%;
  height: 428px;
  background-image: url(../../assets/images/footer-bg.jpg);
}

.footer > .footer-a {
  width: 1150px;
  height: 428px;
  margin: 0 auto;
}

.footer > .footer-a > .footer-b {
  width: 1150px;
  height: 75px;
  border-bottom: 1px #333 solid;
  line-height: 75px;
}

.footer > .footer-a > .footer-b > ul li {
  float: left;
  padding-right: 14px;
}

.footer > .footer-a > .footer-b > ul li > a {
  color: #fff;
  font-size: 13px;
}

.footer > .footer-a > .footer-b > p {
  float: right;
  color: #4cc4a0;
  font-size: 13px;
}

.footer > .footer-a > .footer-c {
  width: 100%;
  height: 215px;
  border-bottom: 1px #333 solid;
}

.footer > .footer-a > .footer-c > .footer-ca {
  width: 946px;
  height: 80px;
}

.footer > .footer-a > .footer-c > .footer-ca > span {
  display: inline-block;
  background-color: #121212;
  height: 34px;
  line-height: 34px;
  text-align: center;
  padding: 0 12px;
  margin-right: 12px;
  margin-top: 14px;
}

.footer > .footer-a > .footer-c > .footer-ca > span:hover {
  background-color: #333;
}

.footer > .footer-a > .footer-c > .footer-ca > span > a {
  font-size: 12px;
  color: #888c8e;
}

.footer > .footer-a > .footer-c > .footer-d {
  width: 980px;
  height: 40px;
  margin-top: 26px;
}

.footer > .footer-a > .footer-c > .footer-d > ul li {
  float: left;
  margin-right: 10px;
  margin-top: 26px;
}

.footer > .footer-a > .footer-c > .footer-d > ul li > a {
  color: #888c8e;
  font-size: 12px;
}

.footer-f {
  width: 100%;
  height: 32px;
  margin-top: 28px;
}

.footer-f > p {
  font-size: 12px;
  color: #888c8e;
}

.footer-f > .footer-g {
  width: 200px;
  height: 50px;
  line-height: 50px;
}

.footer-f > .footer-g > span a {
  font-size: 12px;
  color: #888c8e;
}

.footer-f > .footer-g > span a > img {
  vertical-align: middle;
  margin-top: -3px;
  margin-right: 6px;
}

.gef-a {
  position: absolute;
  left: 1320px;
  top: 0;
  position: fixed;
  width: 38px;
  height: 100%;
  background: #fff;
}

.gef-a > .gef-aa {
  margin-top: 70px;
}

.gef-a > .gef-aa .gef-b {
  width: 38px;
  height: 38px;
  line-height: 37px;
  text-align: center;
  margin-top: 4px;
}

.gef-a > .gef-aa .gef-b:hover {
  background-color: #ddd;
}

.gef-a > .gef-aa .gef-b:hover .gef-ba {
  opacity: 1;
  transform: translateX(6px);
  transition: all 0.3s ease;
}

.gef-a > .gef-aa .gef-b > .iconfont {
  font-size: 20px;
  color: #333;
  border-bottom: 1px #ddd solid;
  padding-bottom: 6px;
}

.gef-a > .gef-aa .gef-b > .gef-ba {
  position: absolute;
  left: -312px;
  top: 70px;
  width: 300px;
  height: 300px;
  background-color: #fff;
  opacity: 0;
}

.gef-a > .gef-aa .gef-b > .gef-ba > .gef-b-a {
  position: absolute;
  left: 300px;
  top: 16px;
  width: 0;
  height: 0;
  border-left: 8px solid #fff;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}

.gef-a > .gef-aa .gef-b > .gef-ba > .gef-bb > .gef-bc {
  width: 260px;
  height: 40px;
  margin: 0 auto;
  margin-top: 6px;
  border-bottom: 1px solid #ccc;
  line-height: 40px;
}

.gef-a > .gef-aa .gef-b > .gef-ba > .gef-bb > .gef-bc > h2 {
  float: left;
  font-size: 16px;
  color: #666;
  font-weight: bold;
}

.gef-a > .gef-aa .gef-b > .gef-ba > .gef-bb > .gef-bc > p {
  font-size: 12px;
  color: #ddd;
}

.gef-a > .gef-aa .gef-b > .gef-ba > .gef-bb > .gef {
  width: 260px;
  height: 160px;
  margin: 0 auto;
}

.gef-a > .gef-aa .gef-b > .gef-ba > .gef-bb > .gef-bd {
  width: 260px;
  height: 40px;
  margin: 0 auto;
}

.gef-a > .gef-aa .gef-b > .gef-ba > .gef-bb > .gef-bd > h3 {
  color: #ddd;
  font-weight: bold;
}

.gef-a > .gef-aa .gef-b > .gef-ba > .gef-bb > .gef-bd > h2 a {
  color: #666;
  font-weight: bold;
}

/*
1
2
3
4
5
6
7
8
9
10
11
12
13
var menu = document.getElementById('menu');
var links = menu.getElementsByTagName('a');
for (var i = 0; i < links.length; i++) {
    links[i].onclick = function () {
        for (var j = 0; j < links.length; j++) {
            if(links[j] == this) {
                this.style.color = 'red';
            } else {
                links[j].style.color = '';
            }
        }
    }
}*/
