.container {
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  height: 40px;
  background-color: #394043;
}

.header > .header-c {
  width: 1150px;
  height: 100%;
  margin: 0 auto;
}

.header > .header-c > .header-a {
  float: left;
  width: 570px;
  height: 40px;
  line-height: 40px;
}

.header > .header-c > .header-a > ul li {
  float: left;
  font-size: 12px;
  padding-left: 20px;
}

.header > .header-c > .header-a > ul li:hover a {
  color: #e0fff3;
}

.header > .header-c > .header-a > ul li > a {
  color: #a9abab;
}

.header > .header-c > .header-b {
  float: right;
  width: 580px;
  height: 40px;
  line-height: 40px;
}

.header > .header-c > .header-b > p {
  float: right;
  font-size: 12px;
  padding-left: 22px;
}

.header > .header-c > .header-b > p > .iconfont {
  font-size: 12px;
  color: #e0fff3;
  padding-right: 6px;
}

.header > .header-c > .header-b > p > a {
  color: #e0fff3;
}

.header > .header-c > .header-b > ul li {
  float: right;
  color: #e0fff3;
  font-size: 12px;
}

.header > .header-c > .header-b > ul li > a {
  font-size: 12px;
  color: #e0fff3;
}

.header > .header-c > .header-b > ul li > a > .iconfont {
  font-size: 12px;
}

.logo {
  width: 100%;
  height: 156px;
  background-color: #f5f5f6;
}

.logo > .logo-a {
  width: 1150px;
  height: 156px;
  margin: 0 auto;
}

.logo > .logo-a > .logo-b {
  float: left;
  width: 100%;
  height: 30px;
  line-height: 30px;
  margin-top: 30px;
}

.logo > .logo-a > .logo-b > .logo-yes {
  width: 96px;
  height: 30px;
  float: left;
  background-image: url(../../assets/images/sprite.png);
  background-repeat: no-repeat;
  background-position: top -324px left 0px;
}

.logo > .logo-a > .logo-b > .logo-ul > ul li {
  float: left;
  margin-left: 30px;
}

.logo > .logo-a > .logo-b > .logo-ul > ul li > a {
  color: #000;
  font-size: 16px;
}

.logo > .logo-a .logo-input {
  position: relative;
  width: 710px;
  height: 46px;
  float: left;
  margin-top: 24px;
}

.logo > .logo-a .logo-input > input {
  width: 710px;
  height: 46px;
  border: none;
  outline: none;
  color: #ccc;
}

.logo > .logo-a .logo-input > button {
  position: absolute;
  left: 674px;
  top: 15px;
  border: none;
  outline: none;
  background-color: #fff;
}

.logo > .logo-a .logo-input > button > .iconfont {
  color: #ccc;
}

.wsk {
  width: 1150px;
  height: 100%;
  margin: 0 auto;
  background-color: #f5f5f6;
  margin-top: 24px;
}

.wsk > .wsk-o {
  width: 1100px;
  height: 100px;
  margin: 0 auto;
}

.wsk > .wsk-o .wsk-a {
  width: 1100px;
  height: 60px;
  border-bottom: 1px solid #aec4e6;
  line-height: 59px;
}

.wsk > .wsk-o .wsk-a > h2 {
  float: left;
  font-size: 12px;
  padding-top: 2px;
  color: black;
  margin-right: 20px;
}

.wsk > .wsk-o .wsk-a > p {
  float: left;
  margin-right: 20px;
}

.wsk > .wsk-o .wsk-a > p > a {
  font-size: 12px;
  color: #394043;
}

.wsk > .wsk-o .wsk-a > p > .iconfont {
  font-weight: bold;
  color: #394043;
  padding-left: 6px;
}

.wsk > .wsk-o > .wsk-b {
  width: 1100px;
  height: 39px;
  border-bottom: 1px solid #aec4e6;
  line-height: 39px;
}

.wsk > .wsk-o > .wsk-b > ul {
  width: 900px;
  height: 39px;
  padding-left: 50px;
}

.wsk > .wsk-o > .wsk-b > ul li {
  float: left;
  font-size: 12px;
  margin-left: 16px;
}

.wsk > .wsk-o > .wsk-b > ul li > a {
  color: #394043;
}

.wsk > .wsk-c {
  width: 1100px;
  height: 90px;
  margin: 0 auto;
  overflow: hidden;
}

.wsk > .wsk-c > .wsk-d {
  width: 1100px;
  height: 100%;
  margin-top: 10px;
}

.wsk > .wsk-c > .wsk-d > .wsk-h {
  width: 1100px;
  height: 14px;
  line-height: 14px;
  margin-top: 14px;
  margin-bottom: 6px;
}

.wsk > .wsk-c > .wsk-d > .wsk-h > h2 {
  float: left;
  font-size: 12px;
  color: black;
}

.wsk > .wsk-c > .wsk-d > .wsk-h > .wsk-w {
  float: left;
  width: 90px;
  height: 14px;
  margin-left: 38px;
  padding-right: 30px;
}

.wsk > .wsk-c > .wsk-d > .wsk-h > .wsk-w > p {
  float: left;
}

.wsk > .wsk-c > .wsk-d > .wsk-h > .wsk-w > span {
  color: #394043;
  font-size: 13px;
  padding-left: 4px;
}

.wsk > .wsk-c > .wsk-d > .wsk-h > h3 {
  float: right;
  font-size: 12px;
}

.wsk > .wsk-c > .wsk-d > .wsk-h > h3 > a {
  color: #394043;
}

.wsk > .wsk-c > .wsk-d > .wsk-h > h3 > a span {
  font-size: 13px;
  padding-right: 4px;
}

.wsk > .gengduo {
  width: 100px;
  height: 15px;
  margin: 0 auto;
  margin-bottom: 14px;
}

.wsk > .gengduo > p a {
  color: #394043;
  font-size: 12px;
}

.for-a {
  width: 1150px;
  height: 100%;
  margin: 0 auto;
  margin-top: 25px;
}

.for-a > .for-b {
  float: left;
  width: 914px;
  height: 48px;
  border-bottom: 2px solid #00ae66;
}

.for-a > .for-b > ul li {
  height: 50px;
  float: left;
  line-height: 50px;
  margin-right: 20px;
}

.for-a > .for-b > ul li h3 a {
  padding: 20px;
  color: #394043;
}

.for-a > .for-f {
  float: left;
  width: 914px;
  height: 48px;
  line-height: 48px;
}

.for-a > .for-f > h3 {
  float: left;
  font-size: 12px;
  color: #000;
}

.for-a > .for-f > .wsk-s {
  float: left;
  width: 100px;
  height: 48px;
  line-height: 48px;
  margin-left: 20px;
}

.for-a > .for-f > .wsk-s > span {
  font-size: 12px;
  color: #394043;
}

.for-a > .for-d {
  float: left;
  width: 914px;
  height: 47px;
  line-height: 48px;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

.for-a > .for-d > h1 span {
  color: #00ae66;
}

.for-a > .for-y {
  float: left;
  width: 914px;
  height: 246px;
  border-bottom: 1px solid #ccc;
}

.for-a > .for-y > .for-img {
  float: left;
  width: 232px;
  height: 174px;
  line-height: 246px;
  margin-top: 36px;
}

.for-a > .for-y > .for-img > a img {
  width: 232px;
  height: 174px;
  vertial-align: middle;
}

.for-a > .for-y > .for-text {
  float: left;
  width: 300px;
  height: 162px;
  margin-top: 36px;
  margin-left: 40px;
}

.for-a > .for-y > .for-text > h1 a {
  color: #394043;
  font-weight: bold;
  font-size: 14px;
}

.for-a > .for-y > .for-text > h1 a:hover {
  color: #00ae66;
}

.for-a > .for-y > .for-text > h1 span a {
  color: #fff;
  font-size: 12px;
  padding: 2px 6px;
}

.for-a > .for-y > .for-text > h1 span {
  background-color: blue;
  font-weight: bold;
}

.for-a > .for-y > .for-text > ul {
  margin-top: 22px;
}

.for-a > .for-y > .for-text > ul li {
  float: left;
  font-size: 12px;
  color: #394043;
  padding-left: 2px;
}

.for-a > .for-y > .for-text > ul li > a {
  color: #394043;
  font-size: 12px;
  font-weight: bold;
}

.for-a > .for-y > .for-text > p {
  float: left;
  margin-top: 22px;
}

.for-a > .for-y > .for-text > p a {
  font-size: 12px;
  color: #394043;
  font-weight: bold;
}

.for-a > .for-y > .for-text > .wf-a span {
  font-size: 12px;
  color: #394043;
  font-weight: bold;
}

.for-a > .for-y > .for-text > .wf-a {
  float: left;
  margin-top: 22px;
  margin-right: 10px;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #ccc;
  font-weight: bold;
}

.for-a > .for-y > .for-text > .wf-b {
  float: left;
  margin-top: 22px;
  height: 30px;
  background: #ffece8;
  line-height: 30px;
}

.for-a > .for-y > .for-text > .wf-b span {
  font-size: 12px;
  color: #db4c3f;
  padding: 0 10px;
  font-weight: bold;
}

.for-a > .for-y > .qian {
  float: right;
  margin-top: 90px;
  height: 150px;
  text-align: center;
}

.for-a > .for-y > .qian > p {
  font-size: 12px;
  color: #394043;
  padding-top: 10px;
}

.for-a > .for-y > .qian > h1 {
  font-weight: bolder;
  color: #db4c3f;
}

.showa {
  display: inline-block;
  width: 100%;
  height: 239px;
  background: #ddd;
  margin-top: 30px;
}

.hello {
  display: inline-block;
  width: 1150px;
  height: 239px;
  margin: 0 auto;
  margin-left: 79px;
  margin-top: 2px;
}

.hello > ul li {
  margin-top: 20px;
  display: inline-block;
  margin-right: 4px;
}

.hello > ul li > .helloa {
  position: relative;
}

.hello > ul li > .helloa > .hellob {
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  width: 218px;
  height: 150px;
  text-align: center;
  line-height: 150px;
  font-size: 14px;
  font-weight: 700;
}

.hello > ul li > p {
  font-size: 12px;
  color: #333;
  margin-top: 10px;
}

.hello > ul li > .helloc {
  font-size: 12px;
  margin-top: 6px;
  color: #666;
}

.hello > ul li > .helloc > span {
  color: red;
}

.footer {
  width: 100%;
  height: 428px;
  background-image: url(../../assets/images/footer-bg.jpg);
}

.footer > .footer-a {
  width: 1150px;
  height: 428px;
  margin: 0 auto;
}

.footer > .footer-a > .footer-b {
  width: 1150px;
  height: 75px;
  border-bottom: 1px #333 solid;
  line-height: 75px;
}

.footer > .footer-a > .footer-b > ul li {
  float: left;
  padding-right: 14px;
}

.footer > .footer-a > .footer-b > ul li > a {
  color: #fff;
  font-size: 13px;
}

.footer > .footer-a > .footer-b > p {
  float: right;
  color: #4cc4a0;
  font-size: 13px;
}

.footer > .footer-a > .footer-c {
  width: 100%;
  height: 215px;
  border-bottom: 1px #333 solid;
}

.footer > .footer-a > .footer-c > .footer-ca {
  width: 946px;
  height: 80px;
}

.footer > .footer-a > .footer-c > .footer-ca > span {
  display: inline-block;
  background-color: #121212;
  height: 34px;
  line-height: 34px;
  text-align: center;
  padding: 0 12px;
  margin-right: 12px;
  margin-top: 14px;
}

.footer > .footer-a > .footer-c > .footer-ca > span:hover {
  background-color: #333;
}

.footer > .footer-a > .footer-c > .footer-ca > span > a {
  font-size: 12px;
  color: #888c8e;
}

.footer > .footer-a > .footer-c > .footer-d {
  width: 980px;
  height: 40px;
  margin-top: 26px;
}

.footer > .footer-a > .footer-c > .footer-d > ul li {
  float: left;
  margin-right: 10px;
  margin-top: 26px;
}

.footer > .footer-a > .footer-c > .footer-d > ul li > a {
  color: #888c8e;
  font-size: 12px;
}

.footer-f {
  width: 100%;
  height: 32px;
  margin-top: 28px;
}

.footer-f > p {
  font-size: 12px;
  color: #888c8e;
}

.footer-f > .footer-g {
  width: 200px;
  height: 50px;
  line-height: 50px;
}

.footer-f > .footer-g > span a {
  font-size: 12px;
  color: #888c8e;
}

.footer-f > .footer-g > span a > img {
  vertical-align: middle;
  margin-top: -3px;
  margin-right: 6px;
}

.gef-a {
  position: absolute;
  left: 1270px;
  top: 0;
  position: fixed;
  width: 38px;
  height: 100%;
  background: #fff;
}

.gef-a > .gef-aa {
  margin-top: 70px;
}

.gef-a > .gef-aa .gef-b {
  width: 38px;
  height: 38px;
  line-height: 37px;
  text-align: center;
  margin-top: 4px;
}

.gef-a > .gef-aa .gef-b:hover {
  background-color: #ddd;
}

.gef-a > .gef-aa .gef-b:hover .gef-ba {
  opacity: 1;
  transform: translateX(6px);
  transition: all 0.3s ease;
}

.gef-a > .gef-aa .gef-b > .iconfont {
  font-size: 20px;
  color: #333;
  border-bottom: 1px #ddd solid;
  padding-bottom: 6px;
}

.gef-a > .gef-aa .gef-b > .gef-ba {
  position: absolute;
  left: -312px;
  top: 70px;
  width: 300px;
  height: 300px;
  background-color: #fff;
  opacity: 0;
}

.gef-a > .gef-aa .gef-b > .gef-ba > .gef-b-a {
  position: absolute;
  left: 300px;
  top: 16px;
  width: 0;
  height: 0;
  border-left: 8px solid #fff;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}

.gef-a > .gef-aa .gef-b > .gef-ba > .gef-bb > .gef-bc {
  width: 260px;
  height: 40px;
  margin: 0 auto;
  margin-top: 6px;
  border-bottom: 1px solid #ccc;
  line-height: 40px;
}

.gef-a > .gef-aa .gef-b > .gef-ba > .gef-bb > .gef-bc > h2 {
  float: left;
  font-size: 16px;
  color: #666;
  font-weight: bold;
}

.gef-a > .gef-aa .gef-b > .gef-ba > .gef-bb > .gef-bc > p {
  font-size: 12px;
  color: #ddd;
}

.gef-a > .gef-aa .gef-b > .gef-ba > .gef-bb > .gef {
  width: 260px;
  height: 160px;
  margin: 0 auto;
}

.gef-a > .gef-aa .gef-b > .gef-ba > .gef-bb > .gef-bd {
  width: 260px;
  height: 40px;
  margin: 0 auto;
}

.gef-a > .gef-aa .gef-b > .gef-ba > .gef-bb > .gef-bd > h3 {
  color: #ddd;
  font-weight: bold;
}

.gef-a > .gef-aa .gef-b > .gef-ba > .gef-bb > .gef-bd > h2 a {
  color: #666;
  font-weight: bold;
}
